[submodule "IntroToCS (2015-2016)/Victray"]
	path = IntroToCS (2015-2016)/Victray
	url = http://github.com/jzaia18/Victray.git
[submodule "SoftwareDevelopment (2017-2018)/Sector-Data"]
	path = SoftwareDevelopment (2017-2018)/Sector-Data
	url = https://github.com/kkhan01/Sector-Data_Visualization.git
[submodule "IntroToCS (2015-2016)/Pokemon-Battle-Simulator"]
	path = IntroToCS (2015-2016)/Pokemon-Battle-Simulator
	url = http://github.com/jzaia18/Pokemon-Battle-Simulator.git
[submodule "APCS (2016-2017)/Starui"]
	path = APCS (2016-2017)/Starui
	url = https://github.com/jzaia18/Mezewn.git
[submodule "APCS (2016-2017)/Pokemon-Battle-Simulator"]
	path = APCS (2016-2017)/Pokemon-Battle-Simulator
	url = https://github.com/rhuiz4/Skull.git
[submodule "SoftwareDevelopment (2017-2018)/Zeroish"]
	path = SoftwareDevelopment (2017-2018)/Zeroish
	url = https://github.com/arahman5/zeroish.git
[submodule "SoftwareDevelopment (2017-2018)/Imajin"]
	path = SoftwareDevelopment (2017-2018)/Imajin
	url = https://github.com/jzaia18/Imajin.git
[submodule "SoftwareDevelopment (2017-2018)/ROCZ-Stories"]
	path = SoftwareDevelopment (2017-2018)/ROCZ-Stories
	url = https://github.com/cynthiacheng1/rocz.git
