[submodule "APCS/Starui"]
	path = APCS/Starui
	url = https://github.com/jzaia18/Mezewn.git
[submodule "APCS/PokemonBattleSim"]
	path = APCS/PokemonBattleSim
	url = https://github.com/rhuiz4/Skull.git
